 a {
     text-decoration: none;
 }

 .card-image1 {
     overflow: hidden;
 }

 .card-image1 img {
     
     transition: 0.5s all ease-in-out;
 }

 .card-image1 img:hover {
     transform: scale(1.2);
 }

 .card1 {
     
     cursor: pointer;
     position: relative;
     height: 31rem;
    
 }

 .card1 img {
     position: absolute;
     object-fit: cover;
     width: 100%;
     height: 100%;
     
 }
 .card1 h2 {
     position: absolute;
     inset: auto auto 30px 30px;
     color: white;
     
     transition: inset 0.5s  ease-out;
     
 }
 .card1 p
  {
     position: absolute;
     opacity: 0;
    color: white;
     max-width: 80%;
    
   
 }
 .card1:hover h2 {
     inset: auto auto 250px 30px;
     transition: inset 0.5s ease-out;
 }
 .card1:hover p {
     opacity: 1;
     transition: opacity  0.5s  ease-out;
    inset: auto 0px 0px 30px;
   
 }
 .card1:hover img {
     transition: opacity 0.3s ease-in;
     opacity: 1;
 }